<div>
	<h2><strong><%= I18n.t("straight_server.#{@sub_title}")%></strong></h2>
	<div>
		<div>
			<div class="templateContainer">
				<div class='columnContainer'>
					<%= form_tag @form_path, method: :post, remote: true, format: 'js',  authenticity_token: true, id: 'btc_form' do %>
					  <p><input type="number" name="amount_of_btc" placeholder="BTC" maxlength="8" data-unit="btc" id="amount_input_btc">
					  	 <=> 
					  	 <input type="number" name="amount_of_cny" placeholder="CNY" maxlength="10" data-unit='cny' id="amount_input_cny"></p>
					  <button type="button" class="button_pay"><%= I18n.t("straight_server.#{@btn_name}") %></button>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<%= stylesheet_link_tag    'jquery.countdown', media: 'all', 'data-turbolinks-track' => true %>

<script>
	$('select[name=locale]').change(function(){
		$('#locale_setting').submit();
	});

	$("#amount_input_btc").keyup(function(){
		var _this = $(this);
		handle_exchange(_this);
	})

	$("#amount_input_cny").keyup(function(){
		var _this = $(this);
		handle_exchange(_this);
	})

	function handle_exchange(_this){
		if(_this.val() == ''){
			return;
		}
		var amount =  parseFloat(_this.val());
		var from_unit = _this.data('unit');
		var to_unit = _this.siblings('input').data('unit');
		if((from_unit == 'btc' && amount < 0.001) || (from_unit == 'cny' && amount < 1)){
			alert('Your input amount is too small.');
		}
		$.ajax({
			url: "<%= exchange_rate_orders_path %>",
			type: 'get',
			data: { amount: amount, from_unit: from_unit, to_unit: to_unit},
			dataType: 'json',
			success: function(data){
				_this.siblings('input').val(data['amount']);
			}
		})
	}

	$('.button_pay').click(function(){
		var amount = parseFloat($('#amount_input_btc').val());
		if(/^[+-]?\d+(\.\d+)?$/.test(amount)){
		  if(amount < 0.001){
		  	alert("Your input amount is too small.");
		  }else{
	      	$('#btc_form').submit();	  	
		  }
		}else{
		  alert("Please insert correct amount.");
		}
	})

	function start_to_countdown(){
	  var num = Date.now() + 15*60*1000;
	  var target_time = new Date(num);
	  $('#defaultCountdown').countdown({until: target_time, compact: true, description: '', format: 'HMS'});
	}

</script>