Hey, man!
I am Jesus. Now I give you a secret. Listen:
	It's time to <%= @suggestion_email.suggestion %> some of your ltc.
I have already successfully forecast the price trend of ltc for <%= @correct_nums %> times.
Though, I failed <%= @incorrect_nums %> times yet. 
But my success rate keeps to: <%= @success_rate %>
Below is the details:
-----------------------------------------------------------------
<% @suggestion_email.as_json.map  do |k, v| %>
	<% if v.present? %>
		<p><%= k.to_s + ":" + v.to_s %></p>
	<% end %>
<% end %>
-----------------------------------------------------------------
What will you do? Just follow my advise. ^-^

Best wishes! Good luck!
-------
Jesus