
<div class="gray new paymentInfo" style="display: block;">
  <table>
    <tbody>
      <tr>
        <td class="qrcode">
          <p class="tapOrClickCaption">Tap or scan</p>
          <img src="<%= qr_code_path(id: CGI.escape("bitcoin:#{ @order.address}?amount=#{@amount}")) %>">
        </td>
      </tr>
      <tr>
        <td class="info">
          <p class="pleaseDeposit">
            <b class="amount"><%= @amount %></b>
            BTC
            <br>
            will be sent to the bitcoin address below:
          </p>
          <textarea class="depositAddressString" readonly=""><%= @order.address %></textarea>
        </td>
      </tr>
      <tr>
        <td class="timeLeft">
          Order expires in
          <b class="value" data-time-left="900">00:15:00</b>
        </td>
      </tr>
      <tr>
        <td class="progressBar"><img src="https://d3j7m1z1ncor2x.cloudfront.net/assets/processing_gray-c64f9a85ac61d6c7ef86d8bcc79ea9ed.gif" alt="Processing gray"></td>
      </tr>
      <tr>
        <td class="cancel">
          <a href="#" id="cancel_order">Cancel Order</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
$(function(){
  $("#cancel_order").click(function(){
    $.ajax({
      url: "<%= payment_path(id: @order.id ) %>",
      type: 'patch',
      data: { uid: "<%= params[:uid] %>"}
      dataType: 'jsonp'
    })
  })
})
</script>
